<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coffee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoffeeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CoffeeNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6FE42E41D92A1C100426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FE42FA1D92A1C200426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FE43231D92A2BD00426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FE432B1D92A2BD00426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FE43461D92A2D200426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FE434E1D92A2D200426386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
